<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA PLIKÓW</title>
    <style>

    </style>
</head>
<body>
<form method="POST" action="wgraj/">
    <input  type="submit" value="Dodaj Plik">
</form>
<table>
    {%for element in lista%}
    <form method="POST" action="route/">
        {% csrf_token %}
        <tr><td><input type="text" name="file" value="{{element}}"></td>
        <td><input  type="submit"></td></tr>
    </form>
    {%endfor%}
</table>

</body>
</html>
